* {
	margin: 0;
	padding: 0;
    font: normal 1.0em "Lucida Sans Unicode",sans-serif;
}
a {
	color: #36C;
}
a:hover {
	color: #06F;
}
body {
	background: #E7E7E7;
	color: #444;
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
	margin: 0;
	/*overflow: hidden;*/
}
input {
	color: #555;
	font: normal 1.1em "Lucida Sans Unicode",sans-serif;
    font-weight:bold;
}

#work{
	position:fixed;
	top:0;
	left:0;
	height:50px;
	/*min-width:100px;*/
	/*background-color:#fff;*/
}

#canvas{
	/*overflow:hidden;*/
	position:absolute;
	width:2560px;
	height:2560px;
	background:url(http://img.lfs.net/remote/maps/AS.jpg);
}

.output{
    min-height:150px;
    max-height:100%;
    min-width:350px;
    max-width:350px;
    opacity: 0.3;
}

.output:focus {
  opacity: 1;
}

.control_block{
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
}

.control_block label{
    color: #ffffff;
}

.control_block input,
.control_block select{
    border: 1px solid #555555;
    height: 25px;
    padding: 0 5px;
}


.output_block{
    position: fixed;
    top: 50px;
    margin-bottom: 10px;
    padding: 5px;
}

.mouse_helper{
    position: absolute;
    width: 200px;
    height: 12px;
    line-height: 12px;
    font-size: 10px;
    color: #fff;
}